<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar >Group login page </mat-toolbar>
    
        <form fxLayoutAlign="stretch" fxLayout="column"  class="form">
            <mat-form-field >
              <mat-label>Group E-mail</mat-label>
              <input matInput placeholder="E-mail" required input type="email">
            </mat-form-field>
            <mat-form-field >
                <mat-label>password</mat-label>
                <input matInput placeholder="password"  input type="password" required >
              </mat-form-field>
          
           <button mat-raised-button color="primary" type="submit">Login</button>
           
          </form>
          <p >You don't have account Register  <a routerLink="/register">here</a></p>
        
    </mat-card>
    
    
    </div>
    <router-outlet>
      
    </router-outlet>