<div fxLayoutAlign="center center" fxFlexFill class="html">
    <mat-card fxFlex="25">
        <mat-toolbar >Register Groups Here </mat-toolbar>
    
        <form fxLayoutAlign="stretch" fxLayout="column"  class="form">
            <mat-form-field >
              <mat-label>Group E-mail</mat-label>
              <input matInput placeholder="E-mail"required input type="email" >
            </mat-form-field>
             <mat-form-field >
                <mat-label>Group Username</mat-label>
                <input matInput placeholder="username" required >
              </mat-form-field>
              <mat-form-field >
                <mat-label>Group member 1</mat-label>
                <input matInput placeholder="one" required >
              </mat-form-field>
              <mat-form-field >
                <mat-label>Group member 2</mat-label>
                <input matInput placeholder="two" required>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Group member 3</mat-label>
                <input matInput placeholder="three"  required>
              </mat-form-field>

            <mat-form-field >
                <mat-label>password</mat-label>
                <input matInput placeholder="password"  input type="password" required >
              </mat-form-field>
          
           <button mat-raised-button color="primary" type="submit">Register</button>
           
          </form>
          <p >You  have account Login  <a routerLink="/homepage">here</a></p>
        
    </mat-card>
    
    
    </div>
    <router-outlet>
      
    </router-outlet>