body {
    background-color: yellowgreen;
  }
.rel{
    color: blue;
    height: 20px;
    text-decoration-color: chartreuse;
    
}
.lel{
margin-left: 25px;
margin-top: 50px;
}
.spp{
    margin-left: 25px;
    margin-top: 70px;
        
        
    }
    .nn{
        margin-left: 25px;
        margin-top: 80px;
            
    }
