
 
  <mat-toolbar class="rel" > STUDENTS DASHBOARD</mat-toolbar>

<body>

  <h1>Students must upload their tasks here for grading. Failure
    to which the students have to fail.</h1>

   
  
<p> please select your document here</p>
   <angular-file-uploader
[config]="afuConfig">
</angular-file-uploader>
<form >
<div class="lel">
  <mat-form-field  >
    <mat-label> Group Email  :</mat-label>
    <input matInput placeholder="Email" required type="email"  >
  </mat-form-field></div>
 <div class="spp">
  <mat-form-field >
    <mat-label>Leave a comment  :</mat-label>
    <textarea matInput placeholder="Add submission discription..." required  ></textarea>
  </mat-form-field>
 </div>


<div class="nn">
  <button mat-raised-button type="submit"color="primary">submit</button>
</div>
</form>
</body>

  
    

 


